*, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 1.7;
  --color: rgba(54, 61, 70);
  --opacity: 30;
  background: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
}

.card-custom {
  border-radius: 1rem;
  background: var(--color);
  -webkit-backdrop-filter: blur(1.5rem);
  backdrop-filter: blur(1.5rem);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.07), 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12), -0.75rem -0.75rem 1.75rem rgba(255, 255, 255, 0.07), 0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.12), inset 8rem 8rem 8rem rgba(0, 0, 0, 0.05), inset -8rem -8rem 8rem rgba(255, 255, 255, 0.05);
}

.login-bg {
  position: absolute;
  padding: 20px 40px 60px 20px;
  width: 600px;
  height: 400px;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.card-custom h2 {
  color: #c7c7c7;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card-custom .input {
  text-align: left;
  margin-top: 20px;
}

.card-custom .input .inputBox {
  margin-top: 20px;
}

.card-custom .input .inputBox label {
  display: block;
  color: #868686;
  margin-bottom: 5px;
  font-size: 18px;
}

.card-custom .input .inputBox input {
  width: 100%;
  height: 50px;
  background: var(--color);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px 15px;
  color: #fff;
  font-size: 18px;
  color: #03a9f4;
  box-shadow: inset -0.2rem -0.2rem 0.5rem rgba(255, 255, 255, 0.07), inset 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.12), inset -0.75rem -0.75rem 1.75rem rgba(255, 255, 255, 0.07), inset 0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.12), 8rem 8rem 8rem rgba(0, 0, 0, 0.05), -8rem -8rem 8rem rgba(255, 255, 255, 0.05);
}

.card-custom .input .inputBox input[type="button"] {
  margin-top: 20px;
  box-shadow: -0.2rem -0.2rem 0.5rem rgba(255, 255, 255, 0.1), 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.12), -0.75rem -0.75rem 1.75rem rgba(255, 255, 255, 0.07), 0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.12)
}

.card-custom .input .inputBox input[type="button"]:active {
  color: #006c9c;
  box-shadow: inset -0.2rem -0.2rem 0.5rem rgba(255, 255, 255, 0.07), inset 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.12), inset -0.75rem -0.75rem 1.75rem rgba(255, 255, 255, 0.07), inset 0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.12), 8rem 8rem 8rem rgba(0, 0, 0, 0.05), -8rem -8rem 8rem rgba(255, 255, 255, 0.05);
}

.card-custom .headers{
  display: flex;
  justify-content: space-between;
}

.card-custom h2 {
  color: #c7c7c7;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.user-list {
  position: absolute;
  padding: 20px 40px 60px 20px;
  width: 600px;
  height: auto;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.user-list table {
  border-collapse: collapse;
}

.user-list table tr th, .user-list table tr td {
  border: none;
  padding: 14px;
  width: 100%;
  height: 50px;
  background: var(--color);
  padding: 5px 15px;
  font-size: 16px;
  box-shadow: inset -0.2rem -0.2rem 0.5rem rgba(255, 255, 255, 0.07), inset 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.12), inset -0.75rem -0.75rem 1.75rem rgba(255, 255, 255, 0.07), inset 0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.12), 8rem 8rem 8rem rgba(0, 0, 0, 0.05), -8rem -8rem 8rem rgba(255, 255, 255, 0.05);
}